---
layout: main.ejs
title: CSSS Frosh Week 2022!
description: Frosh Week 2022 home page.
---
<section>
    <h1>Frosh Week 2022</h1>
    <p>Filler text about Candy Frosh</p> 
</section>
<a>Signup</a>
<section>
    <h2>What is the CSSS?</h2>
    <p>Filler text about the CSSS</p>
</section>
<a href="">Join our Discord Server</a>
<section>
    <!--Calendar + events description -->
</section>
<section>
    <!-- Sponsors -->
</section>
<footer>
    <!--Copyright-->
</footer>

