<footer>
    <hr>
    <p>
        For any issues with our website, 
        please contact our webmaster at 
        <a href="mailto:csss-webmaster@sfu.ca?Subject=%5BREGARDING%20FROSH%20WEBSITE%5D">
            csss-webmaster@sfu.ca
        </a>
        and place the tag "[REGARDING FROSH WEBSITE]" in the subject line.
    </p>
    <p>
        &copy; Copyright 2022 - Computing Science Student Society
    </p>
</footer>