---
siteTitle: CSSS Frosh Week 2022!
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/frosh2022.css">
    <title><%= title %></title>
    <meta name="description" content="<%= description %>" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Serif+Pro&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="frosh_static/2022/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="frosh_static/2022/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="frosh_static/2022/images/favicon-16x16.png">
    <link rel="manifest" href="frosh_static/2022/images/site.webmanifest">
    <link rel="shortcut icon" href="frosh_static/2022/images/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="frosh_static/2022/images/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
</head>
<script src="https://kit.fontawesome.com/8a06a8d793.js" crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<script src="/bootstrap.min-scrollspy-collapse-transitions.js"></script>
<body data-spy="scroll" data-target="#navbar-parent">
    <main class="stack">
        <%- content %>
    </main>
    <script>
        $(document).ready(() => {
            $('body').scrollspy({ target: ".navbar", offset: 50 });

            // From Frosh 2018 website
            // Add smooth scrolling on all links inside the navbar
            $("#myNavbar a").on('click', function(event) {
                // Make sure this.hash has a value before overriding default behavior
                if (this.hash !== "") {
                    // Prevent default anchor click behavior
                    event.preventDefault();

                    // Store hash
                    var hash = this.hash;

                    // Using jQuery's animate() method to add smooth page scroll
                    // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function(){

                        // Add hash (#) to URL when done scrolling (default click behavior)
                        window.location.hash = hash;
                    });
                }  // End if
            });
        });
    </script>
</body>
</html>