<a class="signup-link" href="<%= signupLink %>" rel="noreferrer" target="_blank">
    <div class="signup-box stack">
        <span><i class="<%= icon %>"></i></span>
        <span><%- flavor %></span>
    </div>
</a>